{% extends 'base.html.twig' %}
{% block title %}OnlyGeeks Articles{% endblock %}
{% block body %}
    <style>
        i:hover{
            transform: rotate(10deg);
            transition: 0.15s;

        }
        .fa-thumbs-up{
            color: #743089;
        }
        .fa-thumbs-down{
            color: #a79be3;
        }

    </style>
    {% set len=helos.getTotalItemCount %}
    {%  if len > 0 %}
    <div class="jumbotron-img jumbotron jumbotron-fluid gradient">

        <div class="container">
            <p class=" banner lineOne" style="font-size: 50px"> <strong >({{ len}})</strong> {{ pluralize_a(len,'result') }} {{ singularize(len,'matches') }}  <strong>"{{ tagtitle }}"</strong> tag {{ keyword | default ? " And contains \""~keyword~"\" keyword." : "" }}</p>

        </div>
    </div>
        <div class="error"></div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 col-sm-12 col-xs-12 pb-1">
               <a href="{{ path('app_show') }}" class=""><img src="https://img.icons8.com/color/50/000000/circled-chevron-left--v3.png"/></a>
            </div>
            <div class="col-md-6  mb-4">
                <form>
                    <div class="input-group ">
                        <input type="text"
                               name="q"
                               class="form-control"
                               value="{{ app.request.query.get('q') }}"
                               placeholder="Search ..."
                        >
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-outline-secondary" style="background-color: #743089;color: white">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>

                    </div>
                    <small id="emailHelp" class="form-text text-muted">  posts , usernames , date (yy-mm-dd)... </small>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="p-3 text-center">
                    <span class="visitor">Trending tags : </span>
                    {% for tag in tags %}
                        <a href="{{ path('app_filter-tags',{nam:tag.slug}) }}" class="text-decoration-none badge badge-secondary p-1 m-1" style="font-size: 14px !important;"><img style="border: none" src="https://img.icons8.com/ios-filled/20/ffffff/tags.png"/> {{ tag.name }}</a>
                    {%  endfor %}
                </p>
                <div class="text-center  mb-2 pb-3 font-size-title" title="All tags" ><img class="shadow about" id="all-tags" src="https://img.icons8.com/color/36/000000/circled-chevron-down--v3.png"/></div>
            </div>
        </div>
        <div class="row" id="more-tags">
            <div class="col-12">
                <p class="p-3 text-center">
                    <span class="visitor">All tags : </span>
                    {% for tag in alltags %}
                        <a href="{{ path('app_filter-tags',{nam:tag.slug}) }}" class="text-decoration-none badge badge-secondary p-1 m-1" style="font-size: 14px !important;"><img style="border: none" src="https://img.icons8.com/ios-filled/20/ffffff/tags.png"/> {{ tag.name }}</a>
                    {%  endfor %}
                </p>
                <div class="text-center m-2 pb-3 font-size-title" title="more info" ><img class="shadow about" id="all-tags-up" src="https://img.icons8.com/color/36/000000/circled-chevron-up--v3.png"/></div>
            </div>
        </div>
        <div class="row ">

            {% for helo in helos %}
                {%  if helo.ispublished == 0 %}
            <div class="col-12 mb-5 ">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4 show-article-container-border-purple  ">
                        <div class="row">
                            <div class="col-2 text-center ">
                             {%  if app.user.profile.image is  defined %}
                               <a href="{{ path('app_show_profile',{id:helo.user.id}) }}" class="text-decoration-none"><img src="{{ helo.user.profile.image ? asset('uploads/pins/'~helo.user.profile.image) : "https://img.icons8.com/nolan/100/nerd.png"}}" width="100" height="100"></a>
                             {% else %}
                                 <a href="{{ path('app_show_profile',{id:helo.user.id}) }}" class="text-decoration-none"><img src="https://img.icons8.com/nolan/100/nerd.png" width="100" height="100"></a>
                             {% endif %}
                                <div class="d-block mt-3 vote-arrows">
                                    <div >
                                    <a href="{{ path('app_pin_like',{id:helo.id}) }}" class="text-decoration-none js-like">
                                        {% if app.user  and helo.isLikedBy(app.user) %}
                                        <i class="fas fa-thumbs-up "></i>
                                    {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                    {% endif %}
                                      <br>  <span class="js-likes"><strong>{{ helo.likes|length }}</strong> Likes</span>
                                    </a>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_pin_dislike',{id:helo.id}) }}" class="text-decoration-none  js-dislike">
                                            {% if app.user  and helo.isDisLikedBy(app.user) %}
                                                <i class="fas fa-thumbs-down "></i>
                                            {% else %}
                                                <i class="far fa-thumbs-down"></i>
                                            {% endif %}
                                            <br>  <span class="js-dislikes"><strong>{{ helo.postDislikes|length }}</strong> Dislikes</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container">
                                    <div class=" d-flex justify-content-start">  <h3 class="q-title text-decoration-none ml-4 mb-0 visitor">{{ helo.title}}</h3> </div>
                                    <div class="d-flex justify-content-end"><a class="q-title text-decoration-none " href="{{ path('app_show_pin', {'id': helo.id}) }}"><img style="border: none !important;" src="https://img.icons8.com/nolan/48/view-details.png" height="40px" class="mb-3 "/></a>
                                    </div>
                                </div>
                                <div class="q-display p-3 ml-4 show-article-container-border-green">
                                    <i class="fa fa-quote-left mr-3"></i>
                                    <p class="d-inline">{{ helo.content| raw }}</p>
                                    {% if helo.publishedAt != helo.updatedAt %}
                                    <p class="mt-4 ml-0"><img src="https://img.icons8.com/nolan/20/time-machine.png"/> <small class="text-muted ">  edited <b>{{ helo.updatedAt|ago }}</b></small></p>
                                    {% else %}
                                    <p class="mt-4 ml-0"><img src="https://img.icons8.com/nolan/20/time-machine.png"/> <small class="text-muted">{{ helo.publishedAt|ago }}</small></p>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-10 col-xs-8 col-sm-8">
                                    {% if app.user and app.user.fullName==helo.user.fullname and app.user.id==helo.user.id%}
                                    <p class="pt-0"><strong>--You</strong></p>
                                    {% else %}
                                        <p class="pt-0"><strong>--<a href="{{ path('app_show_profile',{id:helo.user.id}) }}" class="text-decoration-none" style="color: rgba(116,48,137,1)">{{ helo.user.OGusername }}</a> </strong></p>
                                    {% endif %}
                                        </div>
                                        <div class="  col-2 text-muted" style="font-size: small"> <img class="mb-1" src="https://img.icons8.com/fluency/20/000000/hashtag.png"/> {{ helo.age }}</div>
                                    </div>
                                    {% if helo.reference | default %}
                                    <div class="row mt-2">
                                        <div class="col-12" style="background-color: rgba(196,185,87,0.21)">
                                            <span> <img style="border: none" src="https://img.icons8.com/cute-clipart/25/000000/info-popup.png"/><small class="text-muted p-0" style="color:#3e24d9 !important; font-weight: bold"> This post contains attachments</small></span>
                                        </div>
                                    </div>
                                        {%  endif %}
                                </div>
                                <div class="q-display pt-1 pl-1 ml-4 show-article-container-border-single">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="pt-1">
                                            {% for tags in helo.tags %}
                                                <a href="{{ path('app_filter-tags',{nam:tags.slug}) }}" class="text-decoration-none badge badge-secondary p-1" style="font-size: 14px !important;"><img style="border: none" src="https://img.icons8.com/ios-filled/20/ffffff/tags.png"/> {{ tags.name }}</a>
                                            {%  endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="answer-link text-decoration-none" href="{{path('app_show_pin',{id:helo.id}) }}/#appaned" style="color: #fff;">
                        <p class="q-display-response text-center p-3">
                            <img src="https://img.icons8.com/color/36/000000/comments--v2.png"/> {{ helo.getNoNdeletedPostComments|length }} comments
                        </p>
                    </a>
                </div>
            </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% else %}
        <p> {{ len }} no pins yet !</p>
    {% endif %}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(helos) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script>
        var data="";
        function onClickBtnLike(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            if(spanCount==null)
            {
                location.reload();

            }
            console.log(spanCount);
            const icone = this.querySelector('i');


            axios.get(url).then(function (response) {
                console.log(response.data.likes);
                if(response.data.code === 200)
                {
                    spanCount.innerHTML =  "<strong>"+response.data.likes+"</strong> Likes"
                    if (icone.classList.contains('fas')) {
                        icone.classList.replace('fas', 'far');
                    } else {
                        icone.classList.replace('far', 'fas');

                    }
                }
            }).catch((e)=>{
                if(e.response.status === 500)
                {
                    const error=document.querySelector('.error');

                    setTimeout( function(){
                        error.innerHTML=' <div class="alert alert-danger"> please login first !</div>'
                    },3000)

                }
            })

            document.querySelector('.error').innerHTML=''
        }
        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click', onClickBtnLike)
        })

        function onClickBtnDislike(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-dislikes');
            if(spanCount==null)
            {
                location.reload();

            }
            console.log(spanCount);
            const icone = this.querySelector('i');
            console.log(icone);


            axios.get(url).then(function (response) {
                console.log(response.data.dislikes);


                if(response.data.code === 200)
                {
                    spanCount.innerHTML =  "<strong>"+response.data.dislikes+"</strong> Dislikes"
                    if (icone.classList.contains('fas')) {
                        icone.classList.replace('fas', 'far');
                    } else {
                        icone.classList.replace('far', 'fas');

                    }
                }
            }).catch((e)=>{
                if(e.response.status === 500)
                {
                    const error=document.querySelector('.error');

                    setTimeout( function(){
                        error.innerHTML=' <div class="alert alert-danger"> please login first !</div>'
                    },3000)

                }
            })

            document.querySelector('.error').innerHTML=''
        }
        document.querySelectorAll('a.js-dislike').forEach(function (link){
            link.addEventListener('click', onClickBtnDislike)
        })
        $("#all-tags").click(function(){
            $('#all-tags').hide(500);
            $('#all-tags-up').show(500);
            $("#more-tags").slideDown("slow");
        });
        $("#all-tags-up").click(function(){
            $('#all-tags-up').hide(500);
            $('#all-tags').show(500);
            $("#more-tags").slideUp("slow");
        });
        </script>

{% endblock %}