{% extends 'base.html.twig' %}
{% block body %}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class=" row ml-2 justify-center">


        <div class="col-lg-4">


            <div class="p-2 overflow-hidden rounded shadow mb-4" width="50%">
                <h3> Pin sn : #{{ helos.age }}</h3>

                <img class="rounded w-100" width="100%" src="{{helos.image ? asset('uploads/pins/'~helos.image) : asset('uploads/pins/6-610b325d7a28c117415814.jpg') }} " alt="pin picture">

                <h6 class="text-muted ">  <strong>  You </strong> and <strong> {{ random(20,70)}}</strong> others liked your post</h6>
                <h6> Description  : {{ helos.title|upper }}</h6>
               <h6 class="text-muted"><time datetime="{{ helos.createdAt|date("M-D H:i A") }}">created {{ helos.createdAt|ago }}</time></h6>

                {% if helos.user==app.user or 'ROLE_ADM' in app.user.roles %}

                <a href="{{ path('app_edit',{id:helos.id}) }}" class="text-decoration-none text-secondary btn btn-outline-secondary"  style="width: 4rem;">Edit</a> |
                <a class="text-decoration-none text-secondary btn btn-outline-danger text-center" style="width: 5rem;" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit(); " href="{{ path('app_delete',{id:helos.id}) }}">Delete</a>
                {%  endif %}
            </div>



        </div>
    </div>

                <form action="{{ path('app_delete', {'id':  helos.id }) }}" method="post" id="js-pin-delete-form" style="display: none;">
                    <input type="hidden" name="_method" value="DELETE">
                </form>




{% endblock body %}