{% extends 'base.html.twig' %}
{% block title %}Manage Posts{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <style>
            body{
                position: relative;
            }
            footer{
                position: absolute;
            }
           .fa{
                color: #743089;
               font-size: 20px;
            }
           .fa-times{
               color: #B0413E;
           }
            .fa-send{
                color: #42cb23;
            }
           .fa-plus-circle{
               color: white !important;
           }

        </style>
    {% endblock %}
{% block body %}
    <div class="container mb-5 " >
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4 show-article-container-border-green ">
                <h1 class="mb-5 text-center visitor">Posts ({{ helos.getTotalItemCount }}) in total</h1>
                <div class="show-helo-container p-3 mt-4">
                    <a href="{{ path('app_create') }}" class="btn btn-primary pull-right mb-3" style="background-color: #743089">
                        Create <span class="fa fa-plus-circle"></span>
                    </a>


                    <table class="table table-striped p-0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Privacy?</th>
                            <th>Publish?</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for helo in helos %}
                            <tr>
                                <td><a class="text-decoration-none" style="color: #743089" href="{{ path('app_show_pin', {
                                        id: helo.id
                                    }) }}">{{ helo.title }}</a><br><small class="text-muted" >{{ helo.createdAt|ago }}</small></td>
                                <td>
                                    <span class="fa fa-{{ helo.isPublished ? 'lock' : 'globe' }}"></span>
                                    <br><small class="text-muted" >{{helo.publishedAt ? helo.publishedAt|ago : "" }}</small></td>
                                </td>



                                <td>
                                    <a href="{{ path('app_publish', {
                                        id: helo.id
                                    }) }}">
                                        <span class="fa fa-{{ helo.isPublished ? 'send' : 'times' }}"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('app_edit', {
                                        id: helo.id
                                    }) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    No posts yet
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination justify-content-center">
                        {{ knp_pagination_render(helos) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>



{% endblock %}