{% extends 'base.html.twig' %}
{% block body %}

    {% set len=helos.getTotalItemCount %}
    {%  if len > 0 %}

        <h3> {{ pluralize(len,'pin','pins') }} </h3>
        {% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for helo in helos %}
            <div>
                <p>
                    <a href="{{ path('app_show_pin', {'id': helo.id}) }}" >{{ helo.title|u.truncate(10, '(...)', true) }}</a>

                    {% if helo.createdAt != helo.updatedAt %}
                      <small>  edited <b>{{ helo.updatedAt|ago }}</b></small>
                        {% else %}
                            <small> created {{ helo.createdAt|ago }}</small>
                    {% endif %}

                </p>
            </div>

        {% endfor %}
        {% else %}
        <p> {{ len }} no pins yet !</p>
    {% endif %}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(helos) }}
    </div>

{% endblock body %}