{% extends 'base.html.twig' %}
{%  block title 'search ' %}
{% block body %}
    <h1>SEARCH </h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {#    {{ form(form) }}#}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.service) }}
    {%  if form.nom is defined %}
        {{ form_row(form.nom) }}
    {% endif %}
    <input type="submit" value="book">
    {{ form_end(form) }}


{% endblock body %}